In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
c = Census(api_key, year=2010)
variables = ('B01003_001E', 'B17001_002E')
request = c.acs5.state_county(variables, '06', Census.ALL)

In [2]:
# census_data = c.sf1.state_county_tract('NAME', '06', Census.ALL)

census_df = pd.DataFrame(request)

census_df = census_df.rename(columns={"B01003_001E": "Population",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "county": "County"})

# Add in Poverty Rate (Poverty Count / Population)
census_df["Poverty Rate"] = 100 * \
    census_df["Poverty Count"].astype(
        int) / census_df["Population"].astype(int)

# Final DataFrame
census_df = census_df[["Population", "Poverty Count", "Poverty Rate", "County"]]

census_df.head()

   Population  Poverty Count  Poverty Rate County
0    250699.0        53738.0     21.435267    047
1      9605.0         1709.0     17.792816    049
2     13905.0         1664.0     11.966918    051
3    407435.0        54276.0     13.321389    053
4    134051.0        12948.0      9.659010    055

In [3]:
census_df.to_csv("census_data_ca_county.csv", encoding="utf-8", index=False)